.content__heading {
    margin-top: 20px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.content__emailverify {
    display: flex;
    justify-content: center;
    padding: 60px;
    margin: 0 auto;
}

.content__emailverify a {
    display: block;
    padding: 15px;
    border: solid 1px;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 240px;
    cursor: pointer;
}

.verify-form__resend {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.verify-form__resend button {
    border: 0px;
    color: #0073CC;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
}